@font-face {
    font-family: brandon_reg;
    src: url(../fonts/Brandon_reg.otf);
    font-weight: normal;
}

@font-face {
    font-family: brandon_bld;
    src: url(../fonts/Brandon_bld.otf);
    font-weight: bold;
}

@font-face {
    font-family: adobe_caslon_reg;
    src: url(../fonts/adobe_caslon_reg.ttf);
    font-weight: normal;
}

@font-face {
    font-family: avenir_next;
    src: url(../fonts/avenir_next.ttc);
    font-weight: bold;
}

/*----- INDEX 2 -----*/





/*----- GENERAL -----*/

table, th, td {
    border: 1px solid black;
}

.content {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.horizontal-bar {
    width: 100%;
    border: none;
}

.horizontal-bar tr {
    text-align: center;
}

.horizontal-bar tr td {
    display: inline-block;
    text-align: center;
    margin: 0 4px;
    padding: 0px 0px;
    border: none;
    text-decoration: underline;
    color: #000;
    margin: 0 10px;
    font-family: adobe_caslon_reg;
    font-size: 18px;
    font-weight: 600;
}

.horizontal-bar tr td:hover {
    cursor: pointer;
    background: #acacac;
}

/*----- INDEX.HTML -----*/

.img-container-lg {
    display: block;
    margin: 0 auto;
    width: 1000px;
    height: 500px;
    border:none;
}

.department-previews {
    display: block;
    margin: 0 auto;
    width: 90%;
    border: none;
}

.department-previews table {
    display: block;
    border: none;
    border-spacing: 65px 50px;
}

.department-previews tr td  {
    border: none;
    vertical-align: top;
}

.department-previews table tr .larger {
    width: 66%;
    text-align: center;
    border: none;
}

.department-previews table tr .smaller {
    width: 34%;
    border:none;
}

.department-previews table tr .smaller img {
    width: 350px;
    border: none;
}

@media (max-width: 1080px) {
    .department-previews {
        width: 100%;
    }

    .department-previews table {
        border-spacing: 25px 35px;
    }

    .department-previews table tr .smaller {
        vertical-align: middle;
    }
}

.desc {
    font-family: adobe_caslon_reg, sans-serif;
    border:none;
    text-align: left;
    width: 94%;
}

.author {
    color: #666;
}

#headings {
    font-family: avenir_next, sans-serif;
    font-size: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: left;
}

#headings:hover {
    cursor: pointer;
    text-decoration: underline;
}

#line {
    height:5px;
    background-color:black;
    border-radius: 0px;
    margin-bottom: 10px;
}

.tab {
    margin-left: 4em;
}

blockquote {
    display:block;
    padding: 15px 20px 15px 45px;
    margin: 20px 0px 0px 0px;
    position: relative;
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.2;
    color: #666;
    text-align: justify;
    font-style: italic;
    /*border-left: 7px solid gray;*/
}

blockquote::before {
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #999;
    position: absolute;
    left: 10px;
    top:5px;
}

blockquote::after {
    content: "";
}

/*----- EDITOR PICKS -----*/

.angelaTable {
    height: 120px;
    width: 60%;
}

/*----- CONTACT -----*/

.contact-container {
    display: block;
    margin: 0 auto;
    font-family: "Times New Roman";
    width: 40%;
}

 .contact-header {
     font-family: "avenir_next";
 }

 .contact-content {
     font-family: "adobe_caslon_reg";
 }
