@font-face {
    font-family: brandon_reg;
    src: url(../fonts/Brandon_reg.otf);
    font-weight: normal;
}

@font-face {
    font-family: brandon_bld;
    src: url(../fonts/Brandon_bld.otf);
    font-weight: bold;
}

@font-face {
    font-family: adobe_caslon_reg;
    src: url(../fonts/adobe_caslon_reg.ttf);
    font-weight: normal;
}

@font-face {
    font-family: avenir_next;
    src: url(../fonts/avenir_next.ttc);
    font-weight: bold;
}

.nav-link {
    color: #000;
    font-family: brandon_bld;
    font-size: 16px;
    margin: 8px;
}

.bigger {
    font-size: 30px;
}
