@font-face {
    font-family: brandon_reg;
    src: url(../fonts17/Brandon_reg.otf);
    font-weight: normal;
}

@font-face {
    font-family: brandon_bld;
    src: url(../fonts17/Brandon_bld.otf);
    font-weight: bold;
}

@font-face {
    font-family: adobe_caslon_reg;
    src: url(../fonts17/adobe_caslon_reg.ttf);
    font-weight: normal;
}

@font-face {
    font-family: adobe_caslon_bld;
    src: url(../fonts17/adobe_caslon_bld.ttf);
    font-weight: normal;
}

@font-face {
    font-family: avenir_next;
    src: url(../fonts17/avenir_next.ttc);
    font-weight: bold;
}

/*----- GENERAL -----*/

* {
    line-height: 19px !important;
}

table, th, td {
    border: 1px solid black;
}

.content {
    display: block;
    width: 90%;
    margin: 0 auto;
}

@media (max-width: 1000px) {
    .h3ome-container {
        width: 100%;
    }
}

.horizontal-bar {
    width: 100%;
    border: none;
    margin-bottom: 70px;
}

.horizontal-bar tr {
    text-align: center;
}

.horizontal-bar tr td {
    display: inline-block;
    text-align: center;
    margin: 0 4px;
    padding: 5px;
    border: none;
    text-decoration: underline;
    color: #000;
    margin: 0 10px;
    font-family: adobe_caslon_reg;
    font-size: 18px;
}

.horizontal-bar tr td:hover {
    cursor: pointer;
    background: #bdbdbd;
}

.page-title {
    font-family: adobe_caslon_reg;
}

.page-subtitle {
    font-family: adobe_calson_reg;
    font-weight: normal;
}

.center-pic {
    width: 500px;
    height: auto;
}

.accented-red {
    display: block;
    color: red;
    text-decoration: underline;
}

.accented-red:hover {
    text-decoration: underline;
    cursor: pointer;
}

#back2Top {
    display: none;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #000;
    transition-duration: .3s;
}

#back2Top:hover {
    cursor: pointer;
}

/*----- INDEX.HTML -----*/

.home-container {
    display: block;
    margin: 0 auto;
    font-family: "Times New Roman";
    width: 40%;
}

 .home-title {
     font-family: adobe_caslon_reg;
     text-align: center;
 }

 .home-container .center-pic {
     margin: 20px;
 }

 .home-content {
     font-family: adobe_caslon_reg;
 }

.home-content p {
    display: inline-block;
    margin: 0;
}

.home-content #dates {
    margin-bottom: 15px;
    font-weight: bold;
}

.img-container-lg {
    display: block;
    margin: 0 auto;
    width: 1000px;
    height: 500px;
    border:none;
}

.department-previews {
    display: block;
    margin: 0 auto;
    width: 90%;
    border: none;
}

.department-previews table {
    display: block;
    border: none;
    border-spacing: 65px 50px;
}

.department-previews tr td  {
    border: none;
    vertical-align: top;
}

.department-previews table tr .larger {
    width: 66%;
    text-align: center;
    border: none;
}

.department-previews table tr .smaller {
    width: 34%;
    border:none;
}

.department-previews table tr .smaller img {
    width: 350px;
    border: none;
}

@media (max-width: 1080px) {
    .department-previews {
        width: 100%;
    }

    .department-previews table {
        border-spacing: 25px 35px;
    }

    .department-previews table tr .smaller {
        vertical-align: middle;
    }
}

.desc {
    font-family: adobe_caslon_reg, sans-serif;
    border:none;
    text-align: left;
    width: 94%;
}

.author {
    color: #666;
}

.headings {
    font-family: avenir_next, sans-serif;
    font-size: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: left;
    color: #000;
}

.headings:hover {
    cursor: pointer;
    text-decoration: underline;
}

#line {
    height:5px;
    background-color:black;
    border-radius: 0px;
    margin-bottom: 10px;
}

.tab {
    margin-left: 4em;
}

blockquote {
    display:block;
    padding: 15px 20px 15px 45px;
    margin: 20px 0px 0px 0px;
    position: relative;
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.2;
    color: #666;
    text-align: justify;
    font-style: italic;
    /*border-left: 7px solid gray;*/
}

blockquote::before {
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #999;
    position: absolute;
    left: 10px;
    top:5px;
}

blockquote::after {
    content: "";
}

/*----- EDITOR PICKS -----*/

.angelaTable {
    height: 120px;
    width: 60%;
}

/*----- CONTACT -----*/

.contact-container {
    display: block;
    margin: 0 auto;
    font-family: adobe_caslon_reg;
    width: 40%;
}

 .contact-header {
     font-family: adobe_caslon_reg;
     text-align: center;
 }

 .contact-content {
     font-family: adobe_caslon_reg;
 }

 label {
     font-size: 16px;
 }

 label.invalid {
    color:  #A70001;
 }

 .contact_form_table,
 .contact_form_table td {
    border: none;
    padding: 5px;
 }

 .contact_form_table td:first-child {
    width: 80px;
 }

 .contact_form_table input {
    width: 50%;
 }

 ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #333;
    font-size: 15px;
    font-family: adobe_caslon_reg;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #333;
    opacity: 1;
    font-size: 15px;
    font-family: adobe_caslon_reg;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #333;
    opacity: 1;
    font-size: 15px;
    font-family: adobe_caslon_reg;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #333;
    font-size: 15px;
    font-family: adobe_caslon_reg;
}

 input[type="email"],
 input[type="text"] {
     font-family: adobe_caslon_reg;
     font-size: 16px;
 }

 textarea[name="message"] {
     font-family: adobe_calson_reg;
     font-size: 15px;
 }

.submit-container,
.submit-container tr,
.submit-container td {
    font-family: adobe_calson_reg;
    font-size: 15px;
    border: 1px solid #000;
}

.submit-container {
    margin: 0px 0px 0px 12px;
}

.submit-container tr td {
    transition-duration: .3s
}
.submit-container tr td input[type="submit"] {
    background: none;
    border: none;
    font-family: adobe_caslon_reg;
    font-size: 12px;
    text-transform: uppercase;
    transition-duration: .3s;
    padding: 2px 4px;
}

.submit-container tr td:hover {
    background-color: #000;
}

.submit-container tr td:hover > input[type="submit"] {
    color: #fff;
    cursor: pointer;
}
