@font-face {
    font-family: brandon_reg;
    src: url(../fonts17/Brandon_reg.otf);
    font-weight: normal;
}

@font-face {
    font-family: brandon_bld;
    src: url(../fonts17/Brandon_bld.otf);
    font-weight: bold;
}

@font-face {
    font-family: adobe_caslon_reg;
    src: url(../fonts17/adobe_caslon_reg.ttf);
    font-weight: normal;
}

@font-face {
    font-family: avenir_next;
    src: url(../fonts17/avenir_next.ttc);
    font-weight: bold;
}

ul.navbar {
    display: block;
    height: 89px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: right;
    border-right: 1px solid black;
    padding: 0 15px;
}


.navbar li:first-child,
.navbar li:nth-child(2) {
    border-right: none;
}

.navbar li a {
    display: block;
    color: black;
    font-family: brandon_bld;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #898989;
}

.active {
    background-color: #4CAF50;
}
